node_modules/
.next/
out/
/.next/
/.env
.env.local
.env.production
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
cloudflared/
cloudflared.exe
cloudflared.exe.exe
C:/cloudflared/
*.pem
*.key
.idea/
.vscode/
